<div class="d-flex flex-column align-items-center gap-2">
  <a [routerLink]="['/product-detail', product.id]">
    <img
      src="{{ product.url }}"
      class="product-image"
      alt="Photo of a Shiba Inu"
    />
  </a>
  <p>{{ product.name }}</p>
  <p>${{ product.price }}</p>
  <select
    [(ngModel)]="currentQuantity"
    name="currentQuantity"
    class="form-select"
    (ngModelChange)="onSelectQuantity()"
  >
    <option *ngFor="let number of numbers" [ngValue]="number">
      {{ number }}
    </option>
  </select>
  <button mat-raised-button color="primary" (click)="onAddToCart(product)">
    Add to cart
  </button>
</div>
