<div class="product-container">
  <a [routerLink]="['/product-detail', product.id]">
    <img
      src="{{ product.url }}"
      class="product-image"
      alt="Photo of a Shiba Inu"
    />
  </a>
  <p>{{ product.name }}</p>
  <p>${{ product.price }}</p>
  <select
    [(ngModel)]="currentQuantity"
    name="currentQuantity"
    class="select-input"
    (ngModelChange)="onSelectQuantity()"
  >
    <option *ngFor="let number of numbers" [ngValue]="number">
      {{ number }}
    </option>
  </select>
  <button mat-raised-button color="primary" (click)="onAddToCart()">
    Add to cart
  </button>
</div>
