<div class="product-container">
  <div fxLayout="collumn" fxLayoutAlign="center" fxLayoutGap="20px">
    <div>
      <img
        src="{{ cartItem.url }}"
        class="product-image"
        alt="Photo of a Shiba Inu"
      />
    </div>
    <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
      <h2>{{ cartItem.name }}</h2>
      <p>${{ cartItem.price }}</p>
      <span>{{ cartItem.description }}</span>
      <div>
          <mat-label>Amount:</mat-label>
          <select
            [(ngModel)]="currentQuantity"
            name="currentQuantity"
            class="select-input"
            (ngModelChange)="onSelectQuantity()"
        >
            <option *ngFor="let number of numbers" [ngValue]="number">
            {{ number }}
            </option>
        </select>
      </div>
    </div>
  </div>
</div>
