<div fxLayout="collumn" class="mb-3 gap-3">
  <div>
    <img
      src="{{ cartItem.url }}"
      class="cart-image"
      alt="Photo of {{ cartItem.name }}"
    />
  </div>
  <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center left">
    <h2>{{ cartItem.name }}</h2>
    <p>${{ cartItem.price }}</p>
    <span>{{ cartItem.description }}</span>
    <div>
      <div class="mb-3 row">
        <label for="amount" class="col-sm-2 col-form-label">Amount</label>
        <div class="col-sm-10">
          <input
            type="number"
            id="amount"
            class="form-control"
            [(ngModel)]="currentQuantity"
            [ngModelOptions]="{ standalone: true }"
            name="currentQuantity"
            (ngModelChange)="onSelectQuantity()"
          />
        </div>
      </div>
    </div>
  </div>
</div>
