<mat-grid-list cols="2" >
    <mat-grid-tile>Tile 1 (no header, no footer)</mat-grid-tile>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>
    <mat-grid-tile>
      <div fxLayout="column">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder">
          </mat-form-field>
        </div>
        <p>We'll never share your payment details with anyone else.</p>
        <div>
          <button mat-raised-button color="primary">Submit</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
